:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

p {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

h2 {
  line-height: 1.2px;
}

.name-navbar {
  font-weight: bolder;
}

.hero {
  background-color: #f9f7fe;
  text-align: center;
}

.hero p {
  padding-top: 10px;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
  line-height: 30px;
}

.description {
  line-height: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.get-started {
  margin-top: 10px;
  margin-bottom: 70px;
}

.project-description {
  text-align: center;
}

.content-container {
  margin-top: 160px;
}

.about-h1 {
  font-size: 70px;
  line-height: 55px;
  font-family: var(--heading-font-family);
}
.about-h2 {
  font-family: var(--default-font-family);
}

.about-p {
  text-align: left;
  margin-top: 27px;
}

.about-img {
  border-radius: 8px;
  max-width: 50%;
}

.work-description {
  font-size: 14px;
}

@media (max-width: 900px) {
  .project-description {
    text-align: center;
  }

  .heading-h1 {
    font-size: 40px;
    line-height: 41px;
  }

  .about-h2 {
    font-size: 25px;
  }
}
